header #logo{
	margin-bottom: -1em;
}

header img {
	margin-left: 1em;
	margin-top: 1em;
}

font.important_status {
	font-weight: bold;
	text-shadow: 1px 1px 0px rgb(105, 105, 105, 0.1)
}

#status_message .alert {
	font-size: 12pt;
	margin-left: 1em;
	margin-right: 1em;
}

#log_holder {
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: rgba(240,240,240,0.7);
	border-top: 1px;
	border-top-style: solid;
	border-top-color: rgba(0, 0, 0, 0.1);
	z-index: 1;
}

#log_holder .log-button-bar {
	padding: 1em;
	z-index: 2;
}

#log_holder .log-button-bar button{
	margin: .1em;
}

#log_holder .log-button-bar-right {
	float: right;
	text-align: right;
}

#log_holder.button {
	margin: 1em;
}

#preview button {
	margin: .5em;
}

body .text{
	margin-left: 2em;
	margin-right: 2em;
}

pre.pause_info  {
	margin-top: .5em;
	width: 100%
}

.pause-button {
	min-width: 100px;
}

#branchList {
	margin-bottom: 220px;
}

#error {
   position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
	transition: bottom .5s ease-in;
}

#error._hidden {
	bottom: -50px;
	transition: bottom 1s ease-in;
}

#top-right {
	float: right;
	font-size: 8pt;
	color: lightgray;
	text-align: right;
}

#signed-in-user {
	display: inline-block;
	padding: 3px;
	margin-bottom: 7px;
	background-color: #eee;
}

#signed-in-user span {
	vertical-align: middle;
}

#signed-in-user .user-name {
	font-weight: bold;
	font-size: 10pt;
	color: black;
	padding-left: 3px;
}

#signed-in-user .tags {
	padding-right: 20px;
}

#signed-in-user i { color: lightgray; }

th {
	color: #8e8e8e;
}

tr {
	vertical-align: top;
}

div .unmanagedtext {
	color: grey;
	font-style: italic;
	font-weight: bold;
}

span.status {
	font-size: 18px;
	font-weight: bold;
}

input[type="radio"] {
	margin-right: 1em;
}

.flow-graph {
	padding: 5px;
	font-family: sans-serif;
	font-size: 10pt;
	text-align: center;
	float: left;
}

.branch-graph {
	padding: 10px;
	border: solid 1px lightgray;
}

.key-text {
	padding-left: 1em;
	font-size: 9pt;
	font-weight: normal;
}

.graph-key {
	font-size: 9pt;
	font-weight: bold;
	padding: 5px;
	margin: 10px;
	background-color: gainsboro;
	border-radius: 4px;

	box-shadow: 5px 5px 3px lightgray;
	position: relative;
}

.key-container {
	position: absolute;
	width: 180px;
	height: 80px;
}

.arrow {
	width: 100px;
	height: 20px;
	position: absolute;
	background-image: url("/img/arrows.png");

	margin: 3px;
}

.arrow-label {
	font-size: 8pt;
	padding-left: 110px;
	padding-top: 5px;
	padding-bottom: 8px;
}

.auto-merge-arrow {
	background-position: -3px -1px;
}

.on-request-arrow {
	background-position: -3px -19px;
}

.default-flow-arrow {
	background-position: -3px -36px;
}

.block-assets-arrow {
	background-position: -3px -53px;
}

.roboshelf-arrow {
	background-position: -3px -71px;
}
