<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dirent" version="1.13.1" targetFramework="native" />
  <package id="fix8.dependencies.getopt" version="1.0.20151130.1" targetFramework="native" />
  <package id="libiconv" version="1.14.0.11" targetFramework="native" />
  <package id="libiconv.redist" version="1.14.0.11" targetFramework="native" />
  <package id="libimobiledevice" version="1.2.1.187" targetFramework="native" />
  <package id="libimobiledevice.redist" version="1.2.1.187" targetFramework="native" />
  <package id="libplist" version="2.0.1.171" targetFramework="native" />
  <package id="libplist.redist" version="2.0.1.171" targetFramework="native" />
  <package id="libusbmuxd" version="1.0.10.86" targetFramework="native" />
  <package id="libusbmuxd.redist" version="1.0.10.86" targetFramework="native" />
  <package id="pthreads" version="2.9.1.4" targetFramework="native" />
  <package id="pthreads.redist" version="2.9.1.4" targetFramework="native" />
  <package id="zlib" version="1.2.8.7" targetFramework="native" />
  <package id="zlib.redist" version="1.2.8.7" targetFramework="native" />
</packages>